extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.header
    a(href="/messages/list") &lt; チャンネル一覧に戻る
    h2.channel-name.
      サーバー名: #[span.code= data[0].guild_name] (ID: #[span.code= data[0].guild_id])
    h2.channel-name.
      チャンネル名: #[span.code= data[0].channel_name] (ID: #[span.code= data[0].channel_id])
  each val in data
    div.message
      div.contents
        h2.message-header
          span.message-username(title=`${val.author_name}#${val.author_discriminator}`) !{val.author_name}
          if val.author_is_bot === '1'
            span.bot BOT
          i.separator
          span.message-timestamp= (new Date(val.created_timestamp)).toLocaleString()
        div.message-content !{val.content}
